<div class="text-center"><h1>La réponse du Coach</h1>
<p>Si sa réponse est stupide, c'est normal</p>

<%= "Votre question était : #{@question} "%>
<br>
<br>
<%= "La réponse du coach est : "%> <strong><%= "#{@answer}"%>
<br>
<br>
<%= link_to 'Poser une nouvelle question ? on ne sait jamais...', "/ask" %>


</div>
