<div class="text-center">
  <h1>Stupid Coach</h1>
    <p>Il n'y a pas de questions stupides, en revanche les réponses...</p>


  <form action="/answer">
    <label for="question">Lâche ta question : </label>
    <input type="text" id="question" name="query" placeholder="what time is it?">
    <br>
    <input type="submit" class="btn btn-danger" value="C'est parti !">
  </form>
</div>


